<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="chevron-back-outline" (click)="backClicked()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-note>Back</ion-note>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary"
        >Hi, {{name}}! Welcome to weather app!</ion-card-title
      >
      <ion-card-subtitle
        >Press GET CURRENT WEATHER button and then take a photo of the
        sky.</ion-card-subtitle
      >
      <ion-card-title color="primary">What can you do?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label color="tertiary">See app functionality</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item
              >Get current weather{{" "}}<ion-icon
                name="partly-sunny-outline"
              ></ion-icon
            ></ion-item>
          </div>
          <div class="ion-padding" slot="content">
            <ion-item
              >Submit photos{{" "}}<ion-icon name="camera-outline"></ion-icon
            ></ion-item>
          </div>
          <div class="ion-padding" slot="content">
            <ion-item
              >Get you search history{{" "}}<ion-icon
                name="document-text-outline"
              ></ion-icon
            ></ion-item>
          </div>
          <div class="ion-padding" slot="content">
            <ion-item
              >Keep your data private{{" "}}<ion-icon
                name="key-outline"
              ></ion-icon
            ></ion-item>
          </div> </ion-accordion
      ></ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-col>
    <ion-button color="tertiary" (click)="showCurrentWeather()"
      >Weather & sky{{" "}}<ion-icon name="partly-sunny-outline"></ion-icon>
    </ion-button>
    <ion-button color="tertiary" (click)="logout()"
      >Logout
    </ion-button></ion-col
  >
  <app-popup
    *ngIf="toShowPopup.status"
    [type]="toShowPopup.type"
    [text]="toShowPopup.text"
  ></app-popup>

  <ion-card *ngIf="weather && weather.main">
    <ion-card-title color="success"
      >Today in {{weather.place}}, {{weather.country}}</ion-card-title
    >
    <ion-card-subtitle color="primary"
      >Date: {{weather.date}}</ion-card-subtitle
    >

    <ion-card-subtitle color="primary"
      >Last updated: {{weather.lastUpdated}}</ion-card-subtitle
    >
    <ion-card-content>
      <ion-item>Temperature: {{weather.main.temp}}</ion-item>
      <ion-item>Feels like: {{weather.main.feels_like}}</ion-item>
      <ion-item>Min: {{weather.main.temp_min}}</ion-item>
      <ion-item>Max: {{weather.main.temp_max}}</ion-item>
      <ion-item>Pressure: {{weather.main.pressure}}</ion-item>
      <ion-item>Humidity: {{weather.main.humidity}}</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
