<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-label>Current</ion-label>
      <ion-icon name="reorder-two-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-label>History</ion-label>
      <ion-icon name="swap-vertical-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab2" href="/login">
      <ion-label>History</ion-label>
      <ion-icon name="swap-vertical-outline"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
