.app-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1E90FF;
  text-align: center;
  font-size: 70px;
  color: white;
  padding: 3vw;
}
