<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="chevron-back-outline" (click)="backClicked()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-note>Back</ion-note>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="button-container">
    <ion-button *ngIf="!toShowHistory" color="primary" (click)="showHistory()"
      >Show History</ion-button
    >

    <app-loader *ngIf="isLoading"></app-loader>
  </div>

  <ion-list>
    <ion-accordion-group *ngIf="toShowHistory">
      <ion-accordion *ngFor="let report of historyReports; let i = index">
        <ion-item slot="header" color="light">
          <ion-label color="tertiary"
            >{{report.date}}, {{report.place}}</ion-label
          >
        </ion-item>
        <div class="ion-padding" slot="content">
          Place: {{report?.place}}, {{report?.country}}
        </div>
        <div class="ion-padding" slot="content">
          Temperature: {{report?.main?.temp}}
        </div>
        <div class="ion-padding" slot="content">
          Feels like: {{report?.main?.feels_like}}
        </div>
        <div class="ion-padding" slot="content">
          Min: {{report?.main?.temp_min}}
        </div>
        <div class="ion-padding" slot="content">
          Max: {{report?.main?.temp_max}}
        </div>
        <div class="ion-padding" slot="content">
          Pressure: {{report?.main?.pressure}}
        </div>
        <div class="ion-padding" slot="content">
          Humidity: {{report?.main?.humidity}}
        </div>
        <div class="ion-padding" slot="content">
          Updated: {{report?.lastUpdated }}
        </div>
        <div class="ion-padding" slot="content">
          Sky photo. To see in full size, click on the photo.
          <ion-img
            class="weather-report-image"
            [src]="report.imageUrl"
            alt="Photo was not added"
            (click)="seeFullPhoto(report.imageUrl)"
          ></ion-img>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
</ion-content>
